.dialog {
	display: none;
	position: fixed;
	left: 20%;
	top: 8em;
	background-color: #FFF;
	text-align: center;
	font: 10pt Verdana;
	border: solid 1px #CCC;
	-webkit-box-shadow: 0pt 0pt 4pt #CCC;\
	-moz-box-shadow: 0pt 0pt 4pt #CCC;\
	box-shadow: 0pt 0pt 4pt #CCC;
	z-index: 100000;
}

.dialog * {
	margin: 0 0.5em;
}

.dialog button {
	font-weight: bold;
	color: #FFF;
	background-color: #1C86EE;
	margin-left: 0.2em;
	height: 2em;
	width: 6em;
	border: 0;
	border-radius: 2pt;
	cursor: hand;
}

.dialog button:disabled {
	background-color: #87CEFA;
}

.dialog textarea {
	font: 10pt monospace;
	width: 60em;
	height: 15em;
}

.dialog .north {
	margin-top: 5pt;
	margin-bottom: 5pt;
	width: 100%;
}

.dialog .south {
	margin: 5pt 0 5pt auto;
	text-align: right;
}

.dialog .close {
	position: absolute;
	right: 5pt;
	cursor: hand;
}

.dialog table {
	line-height: 1.6em;
}

.dialog td:first-child {
	text-align: right;
}

.dialog input[type=text] {
	height: 1.7em;
	border: solid 1px #CCC;
}