body {
	margin-left: 20%;
}

#viceditor {
	width: 510pt;
	border: solid 1px #CCC;
	border-radius: 2px;
	-webkit-box-shadow: 4pt 4pt 4pt #DDD;
	-moz-box-shadow: 4pt 4pt 4pt #DDD;
	box-shadow: 4pt 4pt 4pt #DDD;
}

	#viceditor #vicmenubar {
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		background-color: #F8F8F8;
		line-height: 2.2em;
		-webkit-box-shadow: 0 2pt 2pt #DDD;
		-moz-box-shadow: 0 2pt 2pt #DDD;
		box-shadow: 0 2pt 2pt #DDD;
	}

		#viceditor .vicbuttonbox {
			display: inline;
			margin-left: 0.5em;
		}

			#viceditor .vicbuttonbox > span {
				height: 2.2em;
				text-align: center;
				border-left: solid 1px #CCC;
				border-top: solid 1px #CCC;
				border-bottom: solid 1px #CCC;
				border-right: 0;
				background-color: #FAFAFB;
				padding: 0.2em 0.5em;
				margin-right: -0.3em;
			}

				#viceditor .vicbuttonbox > span:first-child {
					border-radius: 4px 0 0 4px;
				}

				#viceditor .vicbuttonbox > span:last-child {
					border-right: solid 1px #CCC;
					border-radius: 0 4px 4px 0;
				}

				#viceditor .vicbuttonbox > span:hover {
					cursor: hand;
					background-color: #EEE;
				}

				#viceditor .vicbuttonbox .fa {
					width: 1.5em;
				}

	#viceditor #vicinputarea {
		width: 100%;
		height: 200pt;
		border: 0;
		background-color: #000;
		color: #FFF;
		margin-top: 5pt;
		padding: 0.6em 0.4em;
		font-size: 12pt;
		line-height: 1.4em;
	}

		#viceditor #vicinputarea:focus {
			outline: none !important;
		}

		#viceditor #vicinputarea::selection {
    		background-color: #BBB;
		}

	#viceditor #vicstatusbar {
		font-size: 8pt;
		background-color: #F8F8F8;
		line-height: 1.2em;
		margin: 0;
		padding: 0 0.3em;
		border-top: solid 1px #CCC;
	}