@import url(menubar.css);
@import url(dialog.css);

* { margin: 0; padding: 0; }

body {
	background-color: #EEE;
	font-family: 12pt, helvetica sans-serif;
}

hr {
	margin: 3pt 0;
	border-top: 0;
	border-bottom: solid 1px #CCC;
}

#editarea {
	display: block;
	width: 100%;
	left: 0;
	right: 0;
	bottom: 0;
	top: 2.75em;
	background-color: #EEE;
	overflow-y: auto;
}
