#menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

/* top dropdown menubar*/
.top_menu {
	height: 2.75em;
	margin-left: 0;
	font: 12pt helvetica, arial, sans-serif;
	padding-left: 0.2em;
	vertical-align: center;
	background-color: #1C86EE;
}
.top_menu li {
	float: left;
	list-style-type: none;
	position: relative;
}
.top_menu span {
	color: #FFF;
	text-decoration: none;
	padding: 0.8em 1em;
	background-color: #1C86EE;
	display: block;
}
.top_menu ul ul span {
	padding: 0.5em 1em;
}
.top_menu span:hover {
	background-color: #CCC;
	cursor: hand;
}

.top_menu li li {
	width: 100%;
	float: none;
	font-size: 9pt;
}
.top_menu li ul {
	background-color: #FFF;
	border-left: solid 1px #CCC;
	border-right: solid 1px #CCC;
	border-bottom: solid 1px #CCC;
}
.top_menu li li span {
	background-color: #FFF;
	color: #888;
}
.top_menu li li span:hover {
	background-color: #EEE;
	color: #000;
	font-weight: bold;
}
.top_menu li ul {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	width: 15em;
}

.top_menu table {
	padding: 0.4em;
	border: solid 1px #CCC;
	background-color: #FFF;
}
.top_menu table tr td {
	border: 1px solid #CFCFCF;
	width: 1em;
	height: 1em;
	background-color: #F2F2F2;
}
.top_menu table tr:last-child td {
	border: 0;
	background-color: #FFF;
	text-align: center;
}
.top_menu p {
	display: inline;
}

.top_menu li li ul, .top_menu li li table {
	display: none;
	border-top: solid 1px #CCC;
	position: absolute;
	left: 100%;
	top: 0;
}

.top_menu li:hover > * {
	display: block;
}

.top_menu .hotkey {
	display: inline;
	float: right;
}

.top_menu .fa {
	width: 1.2em;
	margin-right: 0.3em;
}

/* quick menu */
.quick_menu {
	width: 100%;
	background-color: #EEE;
	border-bottom: solid 1px #CCC;
	padding-left: 3em;
}
.quick_menu .box {
	display: inline-block;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	padding-left: 0.5em;
	border-left: solid 1px #CCC;
}
.quick_menu .box:first-child {
	border-left: 0;
}
.quick_menu span {
	font-size: 0.9em;
	text-decoration: none;
	color: #666;
	width: 1.6em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
	margin: 0;
	text-align: center;
	border: solid 1px transparent;
	display: inline-block;
}
.quick_menu span:hover {
	color: #444;
	border: solid 1px #CCC;
	cursor: hand;
}
.quick_menu .fa-toggle-off:hover {
	border: solid 1px transparent;
}

.quick_menu select {
	font-size: 0.9em;
	background-color: #EEE;
	padding-top: 0.2em;
	color: #666;
}

